target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE files
.project
.classpath
.settings
.idea
*.ipr
*.iml
*.iws
nb-configuration.xml

# KDE
.directory

# OSX
.DS_Store
